body{
	background-color: black;
}

svg{
	background-color: white;
	font: 12px sans-serif;
}

.axis line, .axis path{
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text{
	text-shadow: 0 1px 0 white;
}

path{
	fill: none;
	stroke: steelblue;
	stroke-opacity: .7;
	stroke-width: 2;
}