.data-path{
	fill: none;
	stroke-width: 5px;
	stroke: steelblue;
}

.chart text{
	font: 10px sans-serif;
	fill: white;
}

body{
	background-color: black;
}

svg{
	background-color: white;
}

.axis line, .axis path{
	fill: none;
	stroke: black;

}